.idea/
venv/
venv3.10/
Intro\ to\ Сlassification\ with\ k-Nearest\ Neighbors\ Algorithm/stage[1-6]/__pycache__/
zipper.sh
Intro\ to\ Сlassification\ with\ k-Nearest\ Neighbors\ Algorithm/Data/
Intro\ to\ Сlassification\ with\ k-Nearest\ Neighbors\ Algorithm/stage4/test/__pycache__/
Intro\ to\ Сlassification\ with\ k-Nearest\ Neighbors\ Algorithm/stage6/test/__pycache__/
